{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="container my-4">

	<h3 class="my-4 border-bottom pb-1">Produtos Em Destaques</h3>
	<div class="row">
    {% for product in data %}
		<div class="col-md-3 mb-4">
			<div class="card shadow">
			  <a href="/product/{{product.slug}}/{{product.id}}"><img src="{{ product.imagem.url }}" class="card-img-top" alt="{{product.titulo}}"></a>
			  <div class="card-body">
			    <h5 class="card-text"><a href=""></a>{{ product.titulo }}</h5>
          <h6>R$ <span class=""></span></h6>
			  </div>
			  <div class="card-footer">

          <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
          <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
          <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
          <input type="hidden" class="product-title-{{product.id}}" value="{{product.titulo}}" />
			  	<button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button>

			  	<button class="btn btn-sm btn-danger add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></button>

          <button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>

			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
	<p class="my-4 text-center"><a href="{% url 'product-list' %}" class="btn btn-dark btn-sm">Todos Produtos <i class="fa fa-long-arrow-alt-right"></i></a></p>
</main>
{% endblock %}